.name {
    font:
        bold calc(0.025 * (100vw)) Arial,
        sans-serif;
}

img {
    margin-bottom: 10px;
    border: 10px solid var(--pink-color);
    border-radius: 50%;
}

h1 {
    font:
        bold calc(0.025 * (100vw)) Arial,
        sans-serif;
}

h1,
h2 {
    margin: 0;
}