* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(179, 189, 200);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    background-color: rgb(245, 239, 231);
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}

/* #left, #right{
    position: initial;
    display: table-cell;
    padding: 20px;
    border: 1px solid #ccc;
    } */




.left {
    position: initial;
    padding: 5%;

}

.right {
    position: initial;
    padding: 20px;

}